<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" type="text/css"
            href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        {% endblock %}

       
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
    
</html>